<script lang="ts">
  import { script } from "$stores/script"
	import { fade, fly } from "svelte/transition"
  import { createEventDispatcher } from 'svelte'
	import ResizeHandlers from "./resizeHandlers.svelte";
	import ToolBar from "./toolBar.svelte";
  const emit = createEventDispatcher()

  let currentBlock: HTMLElement
  export let caeteWrapper: HTMLElement

  export let block: number
  export let editing: boolean
  export let isSelected: boolean

  $: current = $script.blocks[block] || {}
  $: position = current.position || {x: 0, y: 0}
  $: size = current.size || {width: 'auto', height: 'auto'}

  let grabbing = false
  let resizing = null as null | Directions
  let pointerGrabPosition: Position
  let startingBlock: Block

  const selectBlock = () => {
    if(!editing) return
    emit('select')
  }

  const grabClick = (event: PointerEvent) => {
    if(!editing) return
    if(event.button !== 0) return
    selectBlock()
    registerPositions(event)
    grabbing = true
  }

  const resizeClick = (event: CustomEvent) => {
    selectBlock()
    registerPositions(event.detail.event)
    resizing = event.detail.direction
  }

  const registerPositions = (event: PointerEvent) => {
    pointerGrabPosition = {
      x: event.clientX,
      y: event.clientY
    }
    startingBlock = Object.assign({}, current)
  }

  const pointerMove = (event: PointerEvent) => {
    if(grabbing) moveBlock(event)
    if(resizing) resizeBlock(event)
  }

  const moveBlock = (event: PointerEvent) => {
    if(!startingBlock) return

    const newPosition = {
      x: startingBlock.position.x + getPointerDistance(event, 'x'),
      y: startingBlock.position.y + getPointerDistance(event, 'y')
    }
    script.moveBlock(block, newPosition)
  }

  const resizeBlock = (event: PointerEvent) => {
    if(!startingBlock || !resizing) return

    const newPosition = {
      x: resizing.horizontal === 'West' ?
          startingBlock.position.x + getPointerDistance(event, 'x') :
              startingBlock.position.x,
      y: resizing.vertical === 'North' ?
          startingBlock.position.y + getPointerDistance(event, 'y') :
          startingBlock.position.y
    }

    const wMultiplier = resizing.horizontal === 'West' ? -1 : 1
    const hMultiplier = resizing.vertical === 'North' ? -1 : 1

    if(!caeteWrapper) return
    if(startingBlock.size.width === 'auto') startingBlock.size.width = currentBlock.clientWidth / caeteWrapper.clientWidth * 100
    if(startingBlock.size.height === 'auto') startingBlock.size.height = currentBlock.clientHeight / caeteWrapper.clientHeight * 100

    const newSize = {
      width: startingBlock.size.width + wMultiplier * getPointerDistance(event, 'x'),
      height: startingBlock.size.height + hMultiplier * getPointerDistance(event, 'y')
    }

    if(resizing) {
      script.moveBlock(block, newPosition)
      script.resizeBlock(block, newSize)
    }
  }

  const releaseBlock = () => {
    grabbing = false
    resizing = null
  }


  const getPointerDistance = (event: PointerEvent, axis: 'x' | 'y'): number => {
    if(!caeteWrapper) return 0

    const handleAxis: AxisHelper = {
      x: ['clientX', 'clientWidth'],
      y: ['clientY', 'clientHeight']
    }

    return (event[handleAxis[axis][0]] -
            pointerGrabPosition[axis]) /
            caeteWrapper[handleAxis[axis][1]] * 100
  }

  const deleteBlock = () => {
    emit('release')
    script.deleteBlock(block)
  }
</script>

<svelte:window
  on:pointermove={pointerMove}
  on:pointerup={releaseBlock} />

<article
  bind:this={currentBlock}
  in:fly="{{
    x: current.transitions.in.translation.x,
    y: current.transitions.in.translation.y,
    opacity: current.transitions.in.opacity,
    duration: current.transitions.in.duration}}"
  out:fly="{{
    x: current.transitions.out.translation.x,
    y: current.transitions.out.translation.y,
    opacity: current.transitions.out.opacity,
    duration: current.transitions.out.duration }}"
  class="absolute select-none transition-opacity duration-500"
  class:editing={isSelected}
  class:grabbing={grabbing}
  class:opacity-50={!isSelected && editing}
  style="
    width: {size.width === 'auto' ? 'auto' : `${size.width}%`};
    height: {size.height === 'auto' ? 'auto' : `${size.height}%`};
    left: {position.x}%;
    top:{position.y}%;
    z-index: {isSelected && grabbing ? 998 : block.layer};"
  on:pointerdown|stopPropagation={grabClick}
  >
  {#if isSelected}
  {@const toolsPosition =
                      position.y < 0 ? 'bottom' :
                      position.y + currentBlock.offsetHeight / caeteWrapper.offsetHeight * 100 > 90 ? 'top' :
                      position.x + currentBlock.offsetWidth / caeteWrapper.offsetWidth * 100 < 90 ? 'right' :
                      'left'
                    }
    <div
      transition:fade={{duration: 100}}
      class="absolute w-full h-full flex items-center justify-center outline">
      <ToolBar
        position={toolsPosition}
        on:delete={deleteBlock} />
      <ResizeHandlers
        on:grabHandler={resizeClick} />
    </div>
  {/if}
  <slot />
</article>

<style lang="postcss">
  .outline { outline-color: rgba(255,255,255,0.2) }
  .editing { @apply cursor-grab; }
  .editing.grabbing {@apply cursor-grabbing;}
</style>