<script lang="ts">
  import { onMount, createEventDispatcher } from 'svelte'
  const emit = createEventDispatcher()
  export let color: string

  $: color, decomposeColor()

  let h: number
  let s: number
  let l: number
  let a: number

  onMount(() => {
    decomposeColor()
  })

  $: h, emit('change', `hsla(${h},${s}%,${l}%,${a}%)`)
  $: s, emit('change', `hsla(${h},${s}%,${l}%,${a}%)`)
  $: l, emit('change', `hsla(${h},${s}%,${l}%,${a}%)`)
  $: a, emit('change', `hsla(${h},${s}%,${l}%,${a}%)`)

  const decomposeColor = () => {
    const params = color.match(/\d+/g)
    h = parseInt(params[0])
    s = parseInt(params[1])
    l = parseInt(params[2])
    a = parseInt(params[3])
  }

  let picker = false
</script>

<div class="relative flex items-center">
  <button
    on:click={() => picker = !picker}
    class="w-6 h-6 border border-current mx-2"
    style="background-color: hsla({h},{s}%,{l}%,{a}%);">
  </button>

  {#if picker}
  <div class="absolute top-[120%] -left-4 bg-white shadow-lg flex z-30 p-4 ">
    <ol class="flex flex-col w-40">
      <li>
        <span>H:</span>
        <input
          class="hue"
          type="range" min="0" max="360"
          bind:value={h}></li>
      <li>
        <span>S:</span>
        <input
          style="background-image: linear-gradient(to right, hsla({h},0%,50%,1), hsla({h},100%,50%,1))"
          type="range" min="0" max="100"
          bind:value={s}></li>
      <li>
        <span>L:</span>
        <input
          style="background-image: linear-gradient(to right, #000, hsla({h},{s}%,50%,100%), #fff)"
          type="range" min="0" max="100"
          bind:value={l}></li>
      <li>
        <span>A:</span>
        <input
        style="background-image: linear-gradient(to right, hsla({h},{s}%,{l}%,0), hsla({h},{s}%,{l}%,1))"
          type="range" min="0" max="100"
          bind:value={a}></li>
    </ol>
  </div>
  {/if}
</div>

<style lang="postcss">
  li {@apply flex items-center;}
  span{@apply flex-grow;}
  input {
    @apply rounded-lg overflow-hidden appearance-none h-3 w-32;
  }

  .hue {
    background-image: linear-gradient(
      90deg,
      hsl(0deg 100% 52%) 0%,
      hsl(33deg 100% 51%) 9%,
      hsl(65deg 100% 51%) 18%,
      hsl(98deg 100% 50%) 27%,
      hsl(131deg 100% 50%) 36%,
      hsl(164deg 100% 50%) 45%,
      hsl(196deg 100% 50%) 55%,
      hsl(229deg 100% 50%) 64%,
      hsl(262deg 100% 50%) 73%,
      hsl(295deg 100% 50%) 82%,
      hsl(327deg 100% 50%) 91%,
      hsl(0deg 100% 50%) 100%
    )
  }

</style>