<script lang="ts">
  import Icon from 'svelte-icons-pack/Icon.svelte'
  import Play from "svelte-icons-pack/ri/RiMediaPlayFill"
  import Pause from "svelte-icons-pack/io/IoPauseSharp"
  import { script } from '$stores/script'
  import { createEventDispatcher } from "svelte"
	import { millisecondsToTimecode } from "$lib/timeHelpers"

  const emit = createEventDispatcher()

  export let selected: number
  export let paused: boolean
  export let currentTime = 0

  $: currentTime, timeUpdate()

  let progressBar: HTMLDivElement

  let timeToEnd = false
  let dragging = false
  let barSize = 0


  const timeUpdate = () => {
    if(!dragging) barSize = getLimits(currentTime / $script.settings.duration)
  }

  const startBar = (event: PointerEvent) => {
    dragging = true
    moveBar(event)
  }

  const moveBar = (event: PointerEvent) => {
    if(!dragging) return
    barSize = getLimits(getProgress(event.clientX))
  }

  const releaseBar = () => {
    if(!dragging) return
    emit('seekTo', barSize)
    window.dispatchEvent(new CustomEvent('seekTo', {detail: barSize}))
    dragging = false
  }

  const getLimits = (value: number) => value < 0 ? 0 : value > 1 ? 1 : value
  const getProgress = (xPos: number) =>
        (xPos - progressBar.getBoundingClientRect().left) / progressBar.clientWidth

  $: timecode = timeToEnd ?
          millisecondsToTimecode(barSize * $script.settings.duration) :
          `-${millisecondsToTimecode($script.settings.duration - barSize * $script.settings.duration)}`
</script>

<svelte:window
  on:pointermove={moveBar}
  on:pointerup={releaseBar} />

<div class="absolute w-full bottom-3 flex px-3 z-[1000] text-base">
  <div
    class="relative w-full flex items-center px-2 py-1"
    class:opacity-0={$script.settings.duration === 0}
    style="
      color: {$script.controls.color || 'currentColor'};
      background-color: {$script.controls.background || 'transparent'};
      {$script.controls.rounded ? 'border-radius: .5rem;' : ''}"
    >
    <button
      class="h-full mr-4"
      on:click={() => emit('togglePause')}>
      {#if paused}
        <Icon src={Play} className="fill-current" size="1.5rem" />
      {:else}
        <Icon src={Pause} className="fill-current" size="1.5rem" />
      {/if}
    </button>
    <div
      bind:this={progressBar}
      on:pointerdown={startBar}
      class="flex-grow relative flex items-center h-1 bg-white bg-opacity-20 rounded-full cursor-pointer">
      <div
        class="relative h-1 bg-current rounded-full shadow-inner flex items-center"
        style="width: {barSize * 100}%">
        <div class="bullet">
        </div>
      </div>
      {#if selected > -1}
      <div
        style="left: {$script.blocks[selected].timeInterval.in / $script.settings.duration * 100}%;
              width: {($script.blocks[selected].timeInterval.out - $script.blocks[selected].timeInterval.in) / $script.settings.duration * 100}%"
        class="absolute w-full h-full -top-2 bg-current border-l border-r border-black">
      </div>
      {/if}
    </div>
    <button
      class="ml-2 pr-1"
      on:click={() => timeToEnd = !timeToEnd}>
        {timecode}
    </button>
  </div>
</div>

<style lang="postcss">
  .bullet {
    @apply absolute right-0 w-3 h-3 rounded-full bg-current shadow;
  }

  .label {
    @apply absolute -top-2 px-2 max-h-0 bg-current pointer-events-none
          transition-all ease-in-out duration-500 overflow-hidden
          transform -translate-x-1/2 -translate-y-full whitespace-nowrap;
  }
  .marker:hover .label { @apply max-h-9; }
</style>