<script lang="ts">
  import Icon from 'svelte-icons-pack/Icon.svelte'
  import Play from "svelte-icons-pack/ri/RiMediaPlayFill"
	import { fade } from "svelte/transition"
  import { createEventDispatcher } from "svelte"

  const emit = createEventDispatcher()

  export let paused: boolean
  export let editing: boolean
</script>

{#if paused && !editing}
  <button
    transition:fade={{duration: 300}}
    on:click={() => emit('play')}
    class="absolute w-full h-full flex items-center justify-center bg-black bg-opacity-50 z-[999]">
    <Icon className="fill-current" size="5rem" src={Play} />
  </button>
{/if}

<style>
  .editbutton span { opacity: 0; transform: translateY(-20%);}
  .editbutton:hover span { opacity: 1; transform: none }
</style>