<script lang="ts">
  import { onMount } from 'svelte'
	import { getBlockDefaults } from '$lib/blockHelpers'
	import { applyCSS } from '$lib/styleHelpers'
  import { script } from "$stores/script"

  import Block from '$lib/block.svelte'
  import Controls from '$lib/controls.svelte'
	import OverlayScreen from './overlayScreen.svelte'

  import Text from '$lib/blocks/text.svelte'
  import Video from '$lib/blocks/video.svelte'
  import Image from '$lib/blocks/image.svelte'
	import Settings from '$lib/settings.svelte'

  const components = { Image, Text, Video } as any

  export let autoplay = false

  let caeteWrapper: HTMLElement

  let editing = false
  let paused = true
  let currentTime = 0
  let lastTimestamp = 0
  let selected = -1

  $: editing, pause()

  onMount(() => {
    if(!window) return
    if(autoplay) play()
  })

  const play = () => {
    paused = false
    if(currentTime === $script.settings.duration) currentTime = 0
    window.requestAnimationFrame(runTimer)
  }
  const pause = () => {
    paused = true
  }
  const togglePlay = () => paused ? play() : pause()

  const seekTo = (event: CustomEvent) => {
    currentTime = $script.settings.duration * event.detail
  }

  const updateTime = (timestamp: number) => {
    if(!paused) currentTime += timestamp - lastTimestamp
    if(currentTime > $script.settings.duration) currentTime = $script.settings.duration
    if(currentTime === $script.settings.duration) paused = true
    runTimer(timestamp)
  }

  const runTimer = (timestamp: number) => {
    lastTimestamp = timestamp
    window.requestAnimationFrame(updateTime)
  }

  const selectBlock = (block: number) => {
    selected = block
  }

  const releaseAllBlocks = () => selected = -1

  const createBlock = (event: CustomEvent) => {
    script.createBlock(getBlockDefaults(event.detail, currentTime))
  }

  const manageKeyboard = (event: KeyboardEvent) => {
    if(editing) return
    if(event.key === "Space") togglePlay()
  }
</script>

<main
  bind:this={caeteWrapper}
  class="relative w-full h-full overflow-clip flex flex-col">
  <Settings
    {selected}
    bind:editing
    on:create={createBlock}
    />
  <div class="relative w-full h-full overflow-clip"
    style="
    aspect-ratio: {$script.settings.ratio || 1.77};
    {applyCSS($script.settings.config.style)}"
  on:keydown={manageKeyboard}
  on:pointerdown={releaseAllBlocks}>
  {#each $script.blocks as block, blockId}
    {#if
      currentTime >= block.timeInterval.in &&
      currentTime <= block.timeInterval.out - block.transitions.out.duration
    }
    {@const isSelected = selected === blockId}
    <Block
      {editing}
      {isSelected}
      {caeteWrapper}
      block={blockId}
      on:select={() => selectBlock(blockId)}
      on:release={releaseAllBlocks}
      >
      <svelte:component
        {paused}
        {currentTime}
        this={components[block.type]}
        config={block.config}
        timeInterval={block.timeInterval}
        on:pause={pause}
        on:play={play}
        />
    </Block>
    {/if}
  {/each}

  <OverlayScreen
    {paused}
    {editing}
    on:play={play}
    />

  <Controls
    {paused}
    {selected}
    {currentTime}
    on:togglePause={togglePlay}
    on:seekTo={seekTo}
    />
</main>
