<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  const emit = createEventDispatcher()
  const HandlerPositions = ['0', '100%']
  const xDirections = ['West', 'East']
  const yDirections = ['North', 'South']
</script>

{#each HandlerPositions as xPos, xId}
  {#each HandlerPositions as yPos, yId}
    <div
      class="absolute w-4 h-4 border z-20 rounded-full
        transform -translate-x-1/2 -translate-y-1/2
        cursor{yDirections[yId]}{xDirections[xId]}"
      style="left: {xPos};top: {yPos};"
      on:pointerdown|stopPropagation={(e) => emit('grabHandler',
                {direction: {vertical: yDirections[yId], horizontal: xDirections[xId]}, event: e})}>
    </div>
  {/each}
{/each}

<style>
  .cursorNorthWest  {cursor: nw-resize}
  .cursorSouthWest  {cursor: sw-resize}
  .cursorNorthEast  {cursor: ne-resize}
  .cursorSouthEast  {cursor: se-resize}
</style>