<script lang="ts">
  import { script } from "$stores/script"
  import { createEventDispatcher } from 'svelte'
	import ColorPicker from '$lib/colorPicker.svelte'
  import { buttons, buttonConfig } from '$lib/styleHelpers'
	import { millisecondsToTimecode, timecodeToMilliseconds } from '$lib/timeHelpers'
  import Icon from 'svelte-icons-pack/Icon.svelte'

  const emit = createEventDispatcher()

  export let selected: number

  $: settings = selected === -1 ? $script.settings : $script.blocks[selected]
  $: settingsType = selected === -1 ? 'player' : 'block'
  let timeValues = {}
  let styleValues = {}
  let typeValues = {}
  let typeStyles = {}

  $: selected, populateValues()

  const populateValues = () => {
    timeValues = getValues(settingsType, 'time')
    styleValues = getValues(settingsType, 'style')
    typeValues = getValues(settings.type, 'default')
    typeStyles = getValues(settings.type, 'style')
  }

  const getValues = (type: 'player' | 'block' | BlockTypes, scope: 'time' | 'style' | 'default' ) => {
    if(!type) return {}
    let values = {}
      buttons[type][scope].forEach(setting => {
        let newValue =  scope === 'style'   ? settings.config.style[setting] || buttonConfig[setting].default :
                          scope === 'default' ? settings.config[setting] || buttonConfig[setting].default :
                                                settings[setting] || buttonConfig[setting].default
        if(type !== 'player' && setting === 'duration') newValue = settings.timeInterval.out - settings.timeInterval.in
        if(type !== 'player' && setting === 'start') newValue = settings.timeInterval.in
        values[setting] = scope === 'time' ? millisecondsToTimecode(newValue) : newValue
      })
      return values
  }

  const updateTimes = (setting: string) => {
    if(selected === -1) {
      settings[setting] = timecodeToMilliseconds(timeValues[setting])
      emit('updateSettings', settings)
    } else {
      if(setting === 'duration') settings.timeInterval.out = settings.timeInterval.in + timecodeToMilliseconds(timeValues[setting])
      if(setting === 'start') settings.timeInterval.in = timecodeToMilliseconds(timeValues[setting])
      emit('updateBlock', settings)
    }
  }


  const updateValues = (setting: string, newValue: string | number) => {
    settings.config[setting] = newValue
    emit('updateBlock', settings)
  }

  const updateStyles = (setting: string, newValue: string | number) => {
    settings.config.style[setting] = newValue
    selected === -1 ?
      emit('updateSettings', settings) :
      emit('updateBlock', settings)
  }

  const updateText = (setting: string, event: KeyboardEvent) => {
    if(event.key === "Enter") typeValues[setting] += '<br />'
  }
</script>

{#each buttons[settingsType].time as setting}
  <li>
    <Icon src={buttonConfig[setting].icon} className="fill-cutrrent" />
    <input
      type="time"
      bind:value={timeValues[setting]}
      on:change={(e) => updateTimes(setting)}
      />
  </li>
{/each}

<hr />


{#each buttons[settingsType].style as setting}
  <li>
    <Icon src={buttonConfig[setting].icon} className="fill-cutrrent" />
    {#if /color/.test(setting)}
      <ColorPicker
        color={styleValues[setting]}
        on:change={(e) => updateStyles(setting, e.detail)}
        />
    {:else}
    <input
      type="number"
      class="w-16"
      min="0"
      bind:value={styleValues[setting]}
      on:change={(e) => updateStyles(setting, styleValues[setting])}
      />
    {/if}
  </li>
{/each}

<hr />

{#if selected > -1}

{#each buttons[settings.type].default as setting}
  <Icon src={buttonConfig[setting].icon} className="fill-cutrrent" />
  <input
    style="text-align: left"
    type="text"
    bind:value={typeValues[setting]}
    on:keypress={(e) => updateText(setting, e)}
    on:input={() => updateValues(setting, typeValues[setting])}
    />
{/each}

{#each buttons[settings.type].style as setting}
  <li>
    {#if /color/.test(setting)}
      <Icon src={buttonConfig[setting].icon} className="fill-cutrrent" />
      <ColorPicker
        color={typeStyles[setting]}
        on:change={(e) => updateStyles(setting, e.detail)}
        />
    {:else if buttonConfig[setting].alternate}
      {#if typeof(buttonConfig[setting].alternate) === 'string'}
        <button on:click={updateStyles(setting, typeStyles[setting] !== buttonConfig[setting].default ?
                                                                        buttonConfig[setting].default :
                                                                        buttonConfig[setting].alternate)
                                                                      }>
          <span
              class="opacity-50"
              class:opacity-100={typeStyles[setting] !== buttonConfig[setting].default}>
            <Icon src={buttonConfig[setting].icon} className="fill-cutrrent" />
          </span>
        </button>
      {:else}
        {#each buttonConfig[setting].alternate as button, id}
          <button on:click={updateStyles(setting, button)}>
            <span
                class="opacity-50"
                class:opacity-100={typeStyles[setting] === button}>
              <Icon src={buttonConfig[setting].icon[id]} className="fill-cutrrent" />
            </span>
          </button>
        {/each}
      {/if}
    {:else}
      <Icon src={buttonConfig[setting].icon} className="fill-cutrrent" />
      <input
        type="number"
        class="w-16"
        min="0"
        bind:value={typeStyles[setting]}
        on:change={(e) => updateStyles(setting, typeStyles[setting])}
        />
    {/if}
  </li>
{/each}
{/if}

<style lang="postcss">
  button {@apply w-6 h-6 flex items-center justify-center;}
  button:hover {@apply border border-current;}
  li { @apply flex items-center mr-2; }
  input { @apply mx-2 px-2 text-right border border-current; }
  hr {@apply h-8 border-r border-current mx-3;}
</style>