<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  import CaeteLogo from './assets/caete_pb.svelte'

  const emit = createEventDispatcher()

  import Icon from 'svelte-icons-pack/Icon.svelte'
  import Settings from 'svelte-icons-pack/vsc/VscSettings'
  import Check from 'svelte-icons-pack/bi/BiCheck'
  import Image from 'svelte-icons-pack/bs/BsImage'
  import Text from 'svelte-icons-pack/bs/BsTextareaT'
  import Video from 'svelte-icons-pack/bi/BiVideo'
  import Plus from 'svelte-icons-pack/ai/AiFillPlusCircle'
  import Save from 'svelte-icons-pack/ri/RiDeviceSave3Fill'
  import Cog from 'svelte-icons-pack/ti/TiCog'

  import { script } from "$stores/script"
	import SettingButtons from './settingButtons.svelte';

  const icons = {
    Image: Image,
    Text: Text,
    Video: Video
  }

  export let selected: number
  export let editing: boolean
</script>

<div class="w-full flex items-center p-4 text-slate-800 text-base">
  <div class="h-8">
    <CaeteLogo />
  </div>

  <ol class="flex-grow flex items-center flex-wrap">

    <hr />

    {#if editing}
      {#if selected === -1}
        <li>
          <Icon src={Settings} />
        </li>
      {:else}
        <Icon src={icons[$script.blocks[selected].type]} />
      {/if}

      <hr />
      <SettingButtons
        {selected}
        on:updateSettings={(e) => script.updateSettings(e.detail)}
        on:updateBlock={(e) => script.updateBlock(selected, e.detail)} />
    {/if}

    <div class="mr-auto" />
    <hr />

    {#if editing}
    <li>
      <button class="new relative">
        <Icon src={Plus} size="1.5rem" className="fill-current" />
        <div class="newType absolute flex flex-col top-full -left-2 bg-white z-50 p-2">
          <button class="pt-2" on:click={() => emit('create', 'Image')}>
            <Icon src={Image} size="1.5rem" className="fill-current" />
          </button>
          <button class="pt-2" on:click={() => emit('create', 'Text')}>
            <Icon src={Text} size="1.5rem" className="fill-current" />
          </button>
        </div>
      </button>
    </li>

    <hr />

    <li class="mr-2">
      <a href="data:text/json;charset=utf-8,{encodeURIComponent(JSON.stringify($script))}"
        download="caete.json">
        <Icon src={Save} size="1.5rem" className="fill-current" />
      </a>
    </li>
    {/if}
    <li>
      <button on:click={() => editing = !editing}>
          {#if editing}
            <Icon src={Check} size="1.5rem" className="fill-current" />
          {:else}
            <Icon src={Cog} size="1.5rem" className="fill-current" />
          {/if}
      </button>
    </li>
  </ol>
</div>

<style lang="postcss">
  ol {@apply flex items-center;}
  li { @apply flex items-center; }
  hr {@apply h-8 border-r border-current mx-3;}

  .newType {@apply opacity-0 transition-opacity pointer-events-none;}
  .new:hover .newType {@apply opacity-100 pointer-events-auto;}
  button, a {@apply opacity-50;}
  button:hover, a:hover {@apply opacity-100;}
</style>