<script lang="ts">
  import Icon from 'svelte-icons-pack/Icon.svelte'
  import TrashCan from "svelte-icons-pack/vsc/VscTrash"
  import { createEventDispatcher} from 'svelte'

  export let position = 'right' as 'top' | 'right' | 'bottom' | 'left'
  $: isCol = /^(right|left)$/.test(position)
  const positionStyles = {
    top: 'left: 0; bottom: 104%;',
    right: 'left: 104%; top: 0;',
    bottom: 'left: 0; top: 104%;',
    left: 'right: 104%; top: 0;'
  }

  const emit = createEventDispatcher()
</script>

<div
  class="absolute flex w-full"
  class:isCol={isCol}
  style={positionStyles[position]}>
  <div class="flex-grow" />
  <button
    on:click={() => emit('delete')}>
    <Icon src={TrashCan} size="1.5rem" className="stroke stroke-current" />
  </button>
</div>

<style lang="postcss">
  button { @apply opacity-30 my-2 transition-opacity; }
  button:hover { @apply opacity-100; }
  .isCol { @apply w-auto h-full flex-col; }
</style>