<script lang="ts">
	import { applyCSS } from "$lib/styleHelpers"

  export let config: TextConfig
</script>


  <div
    class="w-full h-full"
    style={applyCSS(config.style)}>
      {@html config.text}
  </div>