<script lang="ts">
  import { onMount, createEventDispatcher } from 'svelte'

  import Vimeo from '$lib/blocks/vimeo.svelte'
  const components = { Vimeo } as any

  const emit = createEventDispatcher()

  let currentComponent: Vimeo
  export let currentTime: number
  export let timeInterval: TimeInterval
  export let config: MediaConfig
  const componentType = /vimeo/.test(config.src) ? Vimeo : null

  $: duration = timeInterval.out - timeInterval.in

  export let paused: boolean

  $: paused, setPauseStatus()
  const setPauseStatus = () => {
    if(!currentComponent) return
    if(isSeeking) return
    paused ? currentComponent.pause() : currentComponent.play()
  }

  let isSeeking = false
  const seeking = () => {
    isSeeking = true
    emit('pause')
  }
  const seekEnd = () => {
    if(!isSeeking) return
    isSeeking = false
    emit('play')
  }

  const getMediaTime = (timelinePercent: number): number => {
    const globalTime = timelinePercent * duration
    return (globalTime - timeInterval.in) / 1000
  }

  const playing = () => {
    if(isSeeking) seekEnd()
    else currentComponent.seekTo(getMediaTime(currentTime / duration))
  }

  onMount(() => {
    if(!window) return
    window.addEventListener('seekTo', ((event: CustomEvent) => {
      if(!currentComponent) return
      currentComponent.seekTo(getMediaTime(event.detail))
    }) as EventListener)

    return () => {
      window.removeEventListener('seekTo', ((event: CustomEvent) => {
        if(!currentComponent) return
        currentComponent.seekTo(getMediaTime(event.detail))
      }) as EventListener)
    }
  })
</script>

<div
  class="min-w-full min-h-full"
  class:aspect-video={config.fit === 'cover'}
>{#if componentType}
  <svelte:component
    bind:this={currentComponent}
    this={componentType}
    url={config.src}
    on:playing={playing}
    on:pause={() => emit('pause')}
    on:seeked={seeking}
    on:bufferstart={() => emit('pause')}
    on:bufferend={() => emit('play')}
    autoplay />
  {/if}
</div>
