<svg
  id="Layer_1"
  data-name="Layer 1"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 886.52 303.2"
  height="100%"
  preserveAspectRatio="xMidYMid meet">
  <g>
    <circle class="cls-1" cx="250.01" cy="151.52" r="28.94"/>
    <path class="cls-1" d="M80.59,203A151.65,151.65,0,0,0,223.27,303.2h82.21l-32.21-93.69H245.39a57.9,57.9,0,0,1-53.74-36.32Z"/>
    <path class="cls-1" d="M80.64,100.11l111.11,29.77a58.6,58.6,0,0,1,54.19-36.19h25.84L305.48,0H223.27A151.66,151.66,0,0,0,80.64,100.11Z"/>
    <g>
      <path class="cls-1" d="M188.48,140.92,77.19,111.1h0c-38.22,1.64-54.67,17.69-73.35,36.67L0,151.6l3.79,3.85c18.58,18.87,35.52,34.71,73.31,36.49v0l111.34-29.83a58.45,58.45,0,0,1-1-10.57A57.48,57.48,0,0,1,188.48,140.92Z"/>
      <path class="cls-1" d="M77.24,191.94l.47,0,0-.14Z"/>
    </g>
  </g>
  <path class="cls-1" d="M112.15,99.81"/>
  <path class="cls-1" d="M72.61,151.45"/>
  <g>
    <path class="cls-1" d="M447.62,132.37A51.7,51.7,0,0,1,432.68,140a55,55,0,0,1-17.53,2.9q-15.06,0-26.56-5.91a42.6,42.6,0,0,1-17.74-16.56q-6.24-10.65-6.24-25.48t6.78-25.48A46.23,46.23,0,0,1,389.24,53a49.56,49.56,0,0,1,23.33-5.8A61.18,61.18,0,0,1,433,50.33a46.61,46.61,0,0,1,15.05,8.49l-11.61,15.7a46.82,46.82,0,0,0-9.14-5.27,30.27,30.27,0,0,0-12.58-2.47,23.73,23.73,0,0,0-13,3.76,28.11,28.11,0,0,0-9.46,10A28.59,28.59,0,0,0,388.7,95a28.25,28.25,0,0,0,3.66,14.19,27.32,27.32,0,0,0,10,10.22,28.26,28.26,0,0,0,14.73,3.76,29.1,29.1,0,0,0,18.27-6Z"/>
    <path class="cls-1" d="M510.42,142.9a50.21,50.21,0,0,1-23.34-5.37,39.34,39.34,0,0,1-16.45-16q-6-10.65-6-26.35,0-15.48,6.34-26.56a45.17,45.17,0,0,1,16.78-17.09,44.61,44.61,0,0,1,22.69-6q13.11,0,21.07,5.16a43.4,43.4,0,0,1,12.69,12.26l-1.29,3.44,2.36-16.78h22.37v91h-24.3V118.39l2.36,5.8a52.2,52.2,0,0,1-3.33,4.2,43.82,43.82,0,0,1-7.1,6.34,44.85,44.85,0,0,1-10.75,5.81A39.09,39.09,0,0,1,510.42,142.9Zm6.66-19.78a30.2,30.2,0,0,0,11.83-2.26,23.23,23.23,0,0,0,9-6.67,28.18,28.18,0,0,0,5.38-10.43V84a24.47,24.47,0,0,0-5.7-9.78,28.49,28.49,0,0,0-9.46-6.56,29.8,29.8,0,0,0-11.94-2.37A26.79,26.79,0,0,0,492.57,79a29.58,29.58,0,0,0-3.66,14.84,29,29,0,0,0,3.87,14.84A29.36,29.36,0,0,0,503,119.25,26.48,26.48,0,0,0,517.08,123.12Z"/>
    <path class="cls-1" d="M644,142.9q-15.71,0-27.21-6.23a42.68,42.68,0,0,1-17.52-17.21,51.36,51.36,0,0,1-6-25.16,45.55,45.55,0,0,1,6.88-24.73,50.71,50.71,0,0,1,18.6-17.52,52.16,52.16,0,0,1,25.91-6.56q18.71,0,30.86,10.86T691.7,87l-73.33,24.73L613,98.17l57-20.43-4.73,3a27.77,27.77,0,0,0-7.75-11.51q-5.37-4.84-14.83-4.84a24.49,24.49,0,0,0-13.34,3.66,25.75,25.75,0,0,0-9.14,10,31.25,31.25,0,0,0-3.33,14.73,32,32,0,0,0,3.66,15.8,25.66,25.66,0,0,0,9.89,10.11,28.12,28.12,0,0,0,14.19,3.55,30.36,30.36,0,0,0,10.75-1.94,41.91,41.91,0,0,0,9.68-5.16L676,133a65.91,65.91,0,0,1-15.59,7.2A54.22,54.22,0,0,1,644,142.9Z"/>
    <path class="cls-1" d="M724.17,9.57h24.08v40h23.66V68.28H748.25v72.26H724.17V68.28h-15.7V49.57h15.7Z"/>
    <path class="cls-1" d="M838.78,142.9q-15.71,0-27.2-6.23a42.7,42.7,0,0,1-17.53-17.21,51.47,51.47,0,0,1-6-25.16,45.55,45.55,0,0,1,6.88-24.73,50.87,50.87,0,0,1,18.6-17.52,52.23,52.23,0,0,1,25.92-6.56q18.71,0,30.86,10.86T886.52,87l-73.33,24.73-5.37-13.55,57-20.43-4.73,3a27.84,27.84,0,0,0-7.74-11.51q-5.39-4.84-14.84-4.84a24.45,24.45,0,0,0-13.33,3.66,25.67,25.67,0,0,0-9.14,10,31.13,31.13,0,0,0-3.33,14.73,32,32,0,0,0,3.65,15.8,25.73,25.73,0,0,0,9.89,10.11,28.16,28.16,0,0,0,14.2,3.55,30.4,30.4,0,0,0,10.75-1.94,41.91,41.91,0,0,0,9.68-5.16l11,17.85a65.91,65.91,0,0,1-15.59,7.2A54.17,54.17,0,0,1,838.78,142.9ZM865.88,4.2l-29,29H821.58l17.63-29Z"/>
  </g>
  <g>
    <path class="cls-1" d="M409.73,269.46a34.69,34.69,0,0,1-18.21-5.12A31.6,31.6,0,0,1,379,251.06l1.39-2.94v52.56h-8.15v-101h7.28l.87,22.21-1.56-5A36.21,36.21,0,0,1,392,203.44,35.59,35.59,0,0,1,411,198.15a33.44,33.44,0,0,1,17.52,4.68,34.64,34.64,0,0,1,12.4,12.75,36.62,36.62,0,0,1,4.6,18.48,35.29,35.29,0,0,1-4.77,18.31,33.9,33.9,0,0,1-12.84,12.57A36.48,36.48,0,0,1,409.73,269.46Zm-1.39-6.77a28.07,28.07,0,0,0,14.49-3.82,29.08,29.08,0,0,0,10.41-10.32,27.66,27.66,0,0,0,3.9-14.49,28.49,28.49,0,0,0-3.81-14.66,28.93,28.93,0,0,0-10.15-10.32,27.27,27.27,0,0,0-14.32-3.82,28.08,28.08,0,0,0-23.94,12.84,29.2,29.2,0,0,0-4.51,13.36V237a26.64,26.64,0,0,0,4.43,13,28.1,28.1,0,0,0,10.06,9.29A27.51,27.51,0,0,0,408.34,262.69Z"/>
    <path class="cls-1" d="M463.17,233.72a35.29,35.29,0,0,1,17.78-31,38.27,38.27,0,0,1,37,0,34.83,34.83,0,0,1,12.84,12.92,37.06,37.06,0,0,1,0,36.09,34.6,34.6,0,0,1-12.92,12.92,38.93,38.93,0,0,1-37,.18,34.45,34.45,0,0,1-12.92-12.67A35.59,35.59,0,0,1,463.17,233.72Zm8.15.17a28.59,28.59,0,0,0,3.73,14.49,28.29,28.29,0,0,0,10.06,10.32,28.08,28.08,0,0,0,28.28,0,28.24,28.24,0,0,0,10.07-10.32A29.24,29.24,0,0,0,513.39,209a26.41,26.41,0,0,0-14.14-3.9,25.84,25.84,0,0,0-14.31,4.08,29.25,29.25,0,0,0-10,10.67A28.59,28.59,0,0,0,471.32,233.89Z"/>
    <path class="cls-1" d="M566.92,200.23l.86,20.82-1-2.6a27,27,0,0,1,7.12-10.76,35.24,35.24,0,0,1,10.84-6.94,30.63,30.63,0,0,1,11.54-2.43l-.35,8a29,29,0,0,0-14.14,3.47,27.3,27.3,0,0,0-10.06,9.29A23.68,23.68,0,0,0,568,232.15v35.92H559.8V200.23Z"/>
    <path class="cls-1" d="M626.25,200.23l.87,20.82-1-2.6a26.9,26.9,0,0,1,7.11-10.76A35.4,35.4,0,0,1,644,200.75a30.58,30.58,0,0,1,11.53-2.43l-.34,8a29,29,0,0,0-14.14,3.47A27.33,27.33,0,0,0,631,219.06a23.68,23.68,0,0,0-3.73,13.09v35.92h-8.15V200.23Z"/>
    <path class="cls-1" d="M705.19,269.46a36.94,36.94,0,0,1-18.73-4.69A33.74,33.74,0,0,1,673.7,252a36,36,0,0,1-4.59-18.13,34.55,34.55,0,0,1,4.85-18,36.73,36.73,0,0,1,13.1-13A35.46,35.46,0,0,1,705.37,198q12.14,0,20.38,7.12a39.91,39.91,0,0,1,11.89,18.56l-59.34,22.9-2.43-5.89,54.31-21.17-1.74,2.43a31.62,31.62,0,0,0-8.93-12,22,22,0,0,0-14.66-5,26.47,26.47,0,0,0-14.06,3.81,28.45,28.45,0,0,0-13.7,24.81,29.53,29.53,0,0,0,3.55,14.23,27.78,27.78,0,0,0,10,10.58,27.35,27.35,0,0,0,14.75,4A28,28,0,0,0,716,260.26a34.72,34.72,0,0,0,9.1-5.38l4.17,5.9A42.67,42.67,0,0,1,718.12,267,36.05,36.05,0,0,1,705.19,269.46Z"/>
    <path class="cls-1" d="M767,170.39h8.32V201.1h21v6.59h-21v60.38H767V207.69h-14.4V201.1H767Z"/>
    <path class="cls-1" d="M844.68,269.46A35.38,35.38,0,0,1,827.07,265a32.55,32.55,0,0,1-12.49-12.4,36.49,36.49,0,0,1-4.6-18.57q0-11.26,4.86-19.34A32.15,32.15,0,0,1,828,202.4a41,41,0,0,1,18.91-4.25,32.29,32.29,0,0,1,28.62,18.91l-1.21,2.43,1-19.26h7.29v67.84h-8.16v-21l1.74,3.13a21.22,21.22,0,0,1-4.17,6.85,36.14,36.14,0,0,1-7.2,6.25,37.18,37.18,0,0,1-9.36,4.51A35.49,35.49,0,0,1,844.68,269.46Zm1.74-6.94a29.42,29.42,0,0,0,13.79-3.21,26.38,26.38,0,0,0,14.31-22.13v-9.71A27,27,0,0,0,869.06,216a30,30,0,0,0-10-8,29.46,29.46,0,0,0-26.89.61,26.92,26.92,0,0,0-10.24,10,29,29,0,0,0-3.81,15.1A28.12,28.12,0,0,0,822,248.2a29.19,29.19,0,0,0,10.33,10.41A27,27,0,0,0,846.42,262.52Z"/>
  </g>
</svg>

<style>
  svg {
    fill: currentColor;
  }
</style>
